@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ;
font-family: "Lato", serif;
font-family: "Nunito", serif
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
  color: #ffffff;
}

nav{
  border:1px solid rgb(30, 29, 29);
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowbox {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  right: 48%;
  /* background: #9883f5; */
  cursor: pointer;
}

.arrowbox a>i {
  font-size: 1.5rem;
  color: #fff;
  
}

h2,p {
  font-family: "Nunito", serif;
}

.dis {
  text-align: justify;
  letter-spacing: 1px;
  font-size: 18px;
}

.title {
  padding: 2px 0;
  font-weight: 800;
  font-size: 32px;
}
.myborder{
    display: inline-block;
    border-bottom: 2px solid rgb(163, 163, 163);
}
.title>span{
    font-size: 45px;
}
.about-img {
  border-radius: 20px;
}

.mybtn {
  text-decoration: none;
  background: #735AE5;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
}

.headerbtn {
  background: #735AE5;
  border: 2px solid rgb(208, 208, 208);
  color: #fff;
}

.headerbtn:hover {
  background: transparent;
  border: 1px solid rgb(133, 132, 132);
  color: rgb(133, 132, 132);
}

.aboutbtnsec{
    margin-top: 30px;
}

.mybtn:hover {
  background: #9883f5;
  color: #ffffff;
}

.hcolor:hover {
  background: #735AE5;
}

/* skills section styel  */
.skills-col{
    padding: 20px;
}
.skills-col>div{
text-align: center;
background: #dbd5f63f;
padding:0.5rem 1rem;
border-radius: 20px;
transition: all 1s linear;
cursor: pointer;
}
.skills-col div img{
    width: 70px;
    height: 70px;
}

.skills-col>div:hover{
    background-color: #5b3fd63f;
    transform: translateY(-15px);
}

/* project section style  */

.project-col{
    padding: 20px;
}
.project-col>div{
text-align: center;
transition: all 1s linear;
cursor: pointer;
}
.project-col div img{
    width: 230px;
    height: 170px;
    border-radius: 15px;
}

.project-col>div:hover{
    transform:scale(1.1);
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icon i{
  color: #9883f5;
  font-size: 1.7rem;
}

footer{
    position: relative;
}

.footer-btn{
    margin-top: 50px;
}


form{
  width: 50%;
}

@media (max-width:768px){
  form{
    width: 90%;
  }
}

/* button top code ----------------------------------------------------  */
.topbtn {
  display: none;
  cursor: pointer;
  position: fixed; 
  bottom: 40px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#1b8545;
  border: none;
}

.topbtn i{
  font-size: 2vw;
  color: #111;
}